<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Exercice4_Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Exercice4_Console.Properties.Settings>
            <setting name="Exercice4_Console_servicehotellapeyronie_WebService1"
                serializeAs="String">
                <value>https://localhost:44300/WebServiceHotelLapeyronie.asmx</value>
            </setting>
            <setting name="Exercice4_Console_servicehotelibis_WebService2"
                serializeAs="String">
                <value>https://localhost:44300/WebServiceHotelIbis.asmx</value>
            </setting>
            <setting name="Exercice4_Console_servicehotelkyriad_WebService3"
                serializeAs="String">
                <value>https://localhost:44300/WebServiceHotelKyriad.asmx</value>
            </setting>
        </Exercice4_Console.Properties.Settings>
    </applicationSettings>
</configuration>